<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<add key="ServerName" value=""/>
		<add key="DatabaseName" value=""/>
		<add key="Entropy" value=""/>
		<add key="IsRemember" value=""/>
		<add key="Screen" value=""/>
	</appSettings>
</configuration>